*{
    margin: 0px;
    padding: 0px;
    font-family: kufam, Helvetica, sans-serif;
}

:root{
    --main-color: #131313;
    --secondary-color: #1d1c1c;
    --third-color: #7E3B9C;
    --thrid-color-hover: #521d6b;
    --font-color: #FAF7FF;
    --opacity-1: 1;
    --opacity-2: 0;
    --border-1: solid hsla(0, 0, 0, 0);
    --border-2: solid #FAF7FF;
    --cursor-outline-diameter: 30px;
    --cursor-color: #FAF7FF;
    --cursor-opacity-1: 0;
    --cursor-opacity-2: 0;
}

body, html{
    overflow-x: hidden;
}

body{
    background-color: var(--main-color);
    color: var(--font-color);
    max-width: 100%;
    position: relative;
    user-select: none;
    transition: all 0.5s linear;
}

html{
    scroll-behavior: smooth;
}


.text{
    letter-spacing: 10px;
}

a{
    text-decoration: none;
    cursor: none;
    z-index: 1;
}

.section-title{
    font-weight: 550;
    text-align: center;
    letter-spacing: 10px;
    transform: translateX(5px);
}

.navblock .text-nav{
    font-size: medium;
    letter-spacing: 5px;
    font-weight: 500;
    transform: translateX(3.5);
    user-select: none;
    text-transform: lowercase;

}
p, h2, h3, h5, h6, a{
    user-select: text;
}
.link{
    color: var(--font-color);
}

.subsection-title{
    font-size: 14px;
    margin-bottom: 70px;
    font-weight: 500;
    letter-spacing: 7px;
}

@media only screen and (max-width: 600px) {
    .text{
        letter-spacing: 10px;
    }
        
    .section-title{
        letter-spacing: 5px;
        font-size: small;
        transform: translateX(2.5);
    }
    
    .text-nav{
        font-weight: 500;
        font-size: xx-small;
        transform: translateX(1.5px);
    }
    
    
    .subsection-title{
        font-size: 14px;
        margin-bottom: 7dvh;
        font-weight: 500;
        letter-spacing: 0.7dvh;
    }
}

/*icons*/

.modes{
    position: relative;
    margin: 20px;
    width: fit-content;
    z-index: 2;
}

.lightmode-icon{
    font-size: 35px;
    opacity: var(--opacity-1);
}

.darkmode-icon{
    position: absolute;
    font-size: 35px;
    opacity: var(--opacity-2);
}

.btn-toggle{
    position: absolute;
    z-index: 1;
    height: 35px;
    width: 35px;
    border-radius: 10px;
}

@media only screen and (max-width: 600px) {
    .modes{
        margin: 10px;
    }
    .lightmode-icon{
        font-size: 25px;
    }
    .darkmode-icon{
        font-size: 25px;
    }
    .btn-toggle{
        height: 25px;
        width: 25px;
    }
}

/*header*/

.title, .subtitle{
    font-family: "Krona One", arial, sans-serif;
    letter-spacing: 25px;
    margin: 50px;
    text-align: center;
    font-size: xx-large;
    transform: translateX(12.5px);
}

.subtitle{
    letter-spacing: 20px;
    margin: 20px;
    font-size: large;
    transform: translateX(10px);
}

.headerContent{
    margin-top: 235px;
    margin-bottom: 310px;
}

@media only screen and (max-width: 600px) {
    .title, .subtitle{
        letter-spacing: 13px;
        transform: translateX(6.5px);
        font-size: medium;
        margin: 20px;
    }
    
    .subtitle{
        letter-spacing: 7px;
        transform: translateX(3.5px);
        font-size: x-small;
    }
    
    .headerContent{
        margin-top: 125px;
        margin-bottom: 173px;
    }
}

/*nav*/

.navblock{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.navbtn{
    padding: 10px;
    padding-top: 13px;

    background-color: var(--third-color);


    border-radius: 100px;

    width: 300px;
    height: fit-content;
    text-align: center;
    transition: all 750ms;
}

.navblock{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 33px;
    grid-row-gap: 33px;
}
.l1 { grid-area: 1 / 2 / 2 / 4;}
.l2 { grid-area: 2 / 1 / 3 / 3;}
.l3 { grid-area: 2 / 3 / 3 / 5;}
.l4 { grid-area: 3 / 2 / 4 / 4;}

.navbtn:hover{
    background-color: var(--thrid-color-hover);
    scale: 1.02;
}
.navbtn:active{
    transform: translateY(3px);
}


@media only screen and (max-width: 600px) {
    .l1, .l2, .l3, .l4{
        padding: 7px;
        padding-top: 9px;
        width: 150px;
    }
    .navblock{
        grid-column-gap: 15px;
        grid-row-gap: 15px;
    }
    .l1, .l3{   
        text-indent: -9999px;
        line-height: 0;
    }
    .l1::after, .l3::after{
        text-indent: 0;
        line-height: initial;
        font-weight: 500;
        letter-spacing: 5px;
        transform: translateX(1.5px);
        color: var(--font-color);
        font-family: kufam, Helvetica, sans-serif;
        text-transform: lowercase;
    }

    .l1::after{
        content: "Certifs";
    }
    .l3::after{
        content: "Projects";
    }

    .navbtn:hover{
        background-color: var(--third-color);
        scale: 1;
    }

    .navbtn{
        transition: all 1ms;
    }
}

/*Certifications*/

.certifications{
    margin-top: 250px;
    padding: 30px;
    height: fit-content;


    background-color: var(--secondary-color);
}

.certifications .titles{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 20px;
}

section.titles .blank{
    opacity: 0;
}

.see-more-projects{
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 10px;
    text-decoration-line: underline;
    padding: 10px;
}

.img-group1{
    display: flex;
    justify-content: space-evenly;
}

.img-group1 .img{
    max-height: 225px;
    min-height: 100px;
    min-width: 130px;
    margin: 20px;


    border-radius: 25px;
    border: solid 2px black;
    transition: all 500ms;
}

.img-group1 img:hover{
    scale: 1.1;
    opacity: 0.85;
}

@media only screen and (max-width: 600px) {
    .certifications{
        margin-top: 200px;
    }
    
    section.titles .blank{
        display: none;
    }
    
    .img-group1{
        align-items: center;
        flex-direction: column;
        transition: all 1ms;
    }
    .img-group1 img:hover{
        scale: 1;
        opacity: 1;
    }
}

/*About me*/

.about-me{
    margin-top: 75px;
    margin-bottom: 30px;
}


.presentation-skills-graph{
    display: flex;
    justify-content: center;
    text-align: justify;
    column-gap: 100px;
}

.about-me-presentation{
    max-width: 600px;
    min-width: 300px;
}

.skills-graph{
    width: 600px;
}

.skill{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}


.uncompleted, .completed{
    height: 15px;
    width: 500px;
    background-color:var(--secondary-color);
    border-radius: 100px;
}
.completed{
    background-color: var(--third-color);
    position: absolute;
    width: 0;
}

.HTML5-progress-bar .completed{
    transition: all 3000ms ease-out;
}
.JS-progress-bar .completed{
    transition: all 1400ms ease-out;
}
.CSS3-progress-bar .completed{
    transition: all 2200ms ease-out;
}

.HTML5-progress-bar .completed.visible{
    width: 300px;
}
.JS-progress-bar .completed.visible{
    width: 140px;
}
.CSS3-progress-bar .completed.visible{
    width: 220px;
}

@media only screen and (max-width: 600px) {
    .presentation-skills-graph{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 25px;
    }
    
    .skills-graph{
        width: 100%;
        margin-top: 25px;
    }

    
    .about-me-presentation p{
        font-size: smaller;
    }
    .presentation-skills-graph .section-title{
        margin-bottom: 20px;
    }

    .skill{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .uncompleted{
        width: 200px;
    }

    .completed{
        width: 0;
    }
    .HTML5-progress-bar .completed{
        transition: all 3000ms ease-out;
    }
    .JS-progress-bar .completed{
        transition: all 1400ms ease-out;
    }
    .CSS3-progress-bar .completed{
        transition: all 2200ms ease-out;
    }
    
    .HTML5-progress-bar .completed.visible{
        width: 150px;
    }
    .JS-progress-bar .completed.visible{
        width: 70px;
    }
    .CSS3-progress-bar .completed.visible{
        width: 110px;
    }
}

/*My projects*/

.projects{
    margin-top: 100px;
    padding: 30px;
    height: fit-content;

    background-color: var(--secondary-color);
}

.projects .titles{
    margin-top: 10px;
    margin-bottom: 40px;
}

.img-group2{
    display: flex;
    justify-content: center;
    gap: 30px;
    
}

.img-group2 a{
    height: fit-content;
}

.img-group2 img{
    height: 200px;
    width: auto;
    margin: 20px;


    border-radius: 25px;
    border: solid 2px white;
    transition: all 500ms;
}

.img-group2 img:hover{
    scale: 1.1;
}


@media only screen and (max-width: 600px) {
    
    .projects .titles{
        margin-top: 0px;
        margin-bottom: 30px;
    }
    
    .img-group2{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .img-group2 .img{
        height: 200px;
        width: 300px;
        margin-bottom: 25px;
        transition: all 1ms;
    }
    .img-group2 .img:hover{
        scale: 1;
        opacity: 1;
    }
}

/*Q&A*/

.questions{
    margin: 200px;
    margin-top: 50px;
    margin-bottom: 0px;
    display: none;
}

.questions .section-title{
    margin-bottom: 50px;
}

.questions-list{
    display: flex;
    justify-content: space-around;
}

.questions-list .section-title{
    letter-spacing: 0;
    padding: 7px;
    text-decoration: underline;
}

.question1{
    border: var(--border-2);
    border-radius: 10px;
    transition: border 120ms;
}
.question2{
    border: var(--border-1);
    border-radius: 10px;
    transition: border 120ms;
}

.awnser{
    text-align: justify;
}

@media only screen and (max-width: 600px) {
    .questions{
        margin: 20px;
    }

}

/*footer*/

hr{
    border-color: var(--third-color);
}

footer{
    background-color: var(--secondary-color);
    height: fit-content;
    margin-top: 0px;
}

.contacts-info{
    margin: 150px;
    margin-top: 0;
    margin-bottom: 30px;

}

.mini-section-title{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
}

.contacts{
    margin: 300px;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
}

.contact-info{
    text-align: end;
}

.socials-icons{
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}

.socials-icons i{
    color: var(--font-color);
}

.copyright{
    background-color: var(--third-color);
    padding: 20px;
}
 
.copyright-text{
    text-align: center;
}

@media only screen and (max-width: 600px) { 
    .contacts-info{
        margin-top: 75px;
        margin-left: 25px;
        margin-right: 25px;
        margin-bottom: 0;
    }
    .contacts{
        margin: 0;
    }
}


/*background*/

.backgound-circles div{
    background-color: var(--third-color);
    height: 100px;
    width: 100px;
    border-radius: 100px;
    position: absolute;
    z-index: -1;
    filter: blur(10px);
    transition: all 0.5s linear;
}

.cirle1{
    top: -55px;
    right: 300px;
    scale: 3.5;
}
.cirle2{
    top: 500px;
    left: -55px;
    scale: 5;
}
.cirle3{
    top: 1100px;
    right: -55px;
    scale: 4;
}
.cirle4{
    top: 1450px;
    left: 450px;
    scale: 3.5;
}
.cirle5{
    top: 2000px;
    right: -55px;
    scale: 4.5;
}
.cirle6{
    top: 2050px;
    left: -55px;
    scale: 2;
}
.cirle7{
    top: 2300px;
    right: 300px;
    scale: 3;
    display: none;
}
.cirle8{
    top: 2650px;
    left: -100px;
    scale: 4;
    display: none;
}
.cirle9{
    top: 2800px;
    right: -55px;
    scale: 2;
    display: none;
}

@media only screen and (max-width: 600px) {
    .backgound-circles div{
        height: 50px;
        width: 50px;
    }
    .cirle1{
        top: -27px;
        right: 100px;
        scale: 4;
    }
    .cirle2{
        top: 275px;
        left: -27px;
        scale: 3;
    }
    .backgound-circles .cirle3{
        top: 650px;
        right: -27px;
        scale: 4;
    }
    .cirle4{
        top: 1700px;
        left: 100px;
        scale: 3.5;
    }
    .cirle5{
        top: 2300px;
        right: -27px;
        scale: 4.5;
    }
    .cirle6{
        top: 2350px;
        left: -27px;
        scale: 2;

    }
    .cirle7{
        top: 3350px;
        right: 50px;
        scale: 3;
    }
    .cirle8{
        top: 3500px;
        left: -27px;
        scale: 4;
    }
    .cirle9{
        top: 4050px;
        right: -27px;
        scale: 2;
    }
}


/*media query*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {/*FINI*/
    
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}



/*no scroll bar*/

body::-webkit-scrollbar {
    width: 0px;
}

/*custom select*/

::selection {
    background: var(--font-color);
    color: var(--secondary-color);
}

/*cursor*/

body{
    cursor: none;
}
   
.cursor-dot{
   width: 5px;
   height: 5px;
   background-color: var(--cursor-color);
   opacity: 0;
}
   
.cursor-outline{
   width: 30px;
   height: 30px;
   border: 2px solid var(--cursor-color);
   opacity: 0;
}
.cursor-dot, .cursor-outline{
   position: fixed;
   left: 0;
   top: 0;
   transform: translate(-50%, -50%);
   border-radius: 50%;
   z-index: 2;
   pointer-events: none;
}