*{
    margin: 0px;
    padding: 0px;
    font-family: kufam, Helvetica, sans-serif;
}

/*icon dark/light mode*/

.darkmode-icon{
    margin: 15px;
    font-size: 30px;
}

.lightmode-icon{
    margin: 15px;
    font-size: 30px;
    /*color: white;*/
}

/*header*/

.title, .subtitle{
    font-family: "Krona One", arial, sans-serif;
    letter-spacing: 15px;

    text-align: center;
}

.subtitle{
    letter-spacing: 10px;
    padding-top: 20px;
}

.headerContent{
    background-color: red;
    margin-top: 177px;
    margin-bottom: 200px;
}


/*nav*/

.nav{
    background-color: black;
}